<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="{{ site.author }}">

    <link rel="icon" href="{{ '/src/q.png' | relative_url }}">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather%7CRoboto+Mono">

    <link href="{{ '/bootstrap.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/style.css' | relative_url }}" rel="stylesheet">

    <script src="{{ '/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/bootstrap.min.js' | relative_url }}"></script>
    <script>
      $(function () {
        $('.navbar-collapse a').on('click', function () {
          if ($('.navbar-toggle').is(':visible') && $('.navbar-collapse').hasClass('in')) {
            $('.navbar-collapse').collapse('hide');
          }
        });
      });
    </script>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand site-brand" href="{{ '/' | relative_url }}">Arash Behboodi</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav ddmenu">
              <li class="{% if page.url == '/' %}is-active{% endif %}"><a href="{{ '/' | relative_url }}">Home</a></li>
              <li class="{% if page.url == '/publication.html' %}is-active{% endif %}"><a href="{{ '/publication.html' | relative_url }}">Publications</a></li>
              <li class="{% if page.url == '/bio.html' %}is-active{% endif %}"><a href="{{ '/bio.html' | relative_url }}">Bio</a></li>
              <li class="{% if page.url == '/blog/' or page.url contains '/blog/' %}is-active{% endif %}"><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>

      <main class="site-main container">
        <div class="page-shell {% if page.title == 'Home' %}page-home{% endif %}">
          {% unless page.title == 'Home' or page.layout == 'post' %}
            <header class="page-title-block">
              <h1>{{ page.title }}</h1>
              {% if page.description %}
                <p class="page-lead">{{ page.description }}</p>
              {% endif %}
            </header>
          {% endunless %}
          {{ content }}
        </div>
      </main>
    </div>
  </body>
</html>
